---
const name = "harv"
const style = "orange"
const users = ["Harold", "Jeshua", "David", "Varde"]
const visible = false
---
<>
	<h1 class={style}>Hello <span>{name}</span>!</h1>

	<ul>
		{users.map(user => <li>{user}</li>)}
	</ul>

	{visible && <p>This text is visible</p>}
	{visible ? <p>This text is visible</p> : <p>The text isn't visible</p>}
</p>

<style>
	body {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}
	span {
		color: purple;
		text-decoration: underline;
	}

	.orange {
		color: orangered;
	}
</style>